/*set up universal box-sizing adjustment*/

html {
  box-sizing: border-box;
}

/*put all other styles below this line, please*/

body{
    font-family: 'Roboto', Impact, sans-serif;
    margin-top: 3em;
    margin-left: 3em;
    background-color: #a6d2d8;
}
nav{
    background-color: #a3a8a3;
    margin: 0;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}
nav > a{
    font-size: 32px;
    padding: 48px 48px 48px 48px;
}
h1{
    font-size: 3em;
}
img{
    height: 300px;
    width: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
#content > div{
    padding-bottom: 3em;
}
